<div class="container mx-auto mt-10">
  <h1 class="text-center text-indigo-800 text-4xl font-extralight mb-8">
    Buscar endereço por CEP
  </h1>
  <%= form_with url: root_path, method: :get, local: true, class: "text-lg max-w-md mx-auto bg-white p-8 rounded-xl shadow-md" do |form| %>
    <div class="mb-4">
      <%= form.label :cep, "Digite o CEP:", class: "block text-indigo-600" %>
      <%= form.text_field :cep, class: "mt-2 p-2 border rounded w-full" %>
    </div>
    <%= form.submit "Buscar", class: "bg-indigo-600 hover:bg-indigo-500 text-white font-bold py-2 px-4 rounded" %>
  <% end %>

  <% if @address %>
    <%= render 'shared/address', address: @address %>
  <% end %>

  <% if @error %>
    <div class="mt-6 p-4 max-w-2xl mx-auto bg-blue-100 text-center tracking-wider shadow-lg rounded text-lg text-indigo-900">
      <p><%= @error %></p>
    </div>
  <% end %>

  <div class="shadow-lg mt-4 p-8 mx-auto max-w-5xl">
    <div class="bg-slate-100 rounded shadow-md  p-4 max-w-sm text-center">
      <h2 class="text-xl mb-3 font-light text-indigo-900">CEPs mais buscados</h2>
      <%if @most_searched.present? %>
        <ul>
          <% @most_searched.each_with_index do |search, index| %>
            <li class="tracking-wider text-gray-700 text-sm mb-1">
              <span class="text-indigo-700 text-lg"><%= index + 1 %>º</span> <%= search.cep %> - <span class="text-indigo-600 text-xs"><%= search.count %> buscas</span>
            </li>
          <% end %>
        </ul>
      <% else %>
        <p>Nenhum CEP foi buscado ainda.</p>
      <% end %>
    </div>
  </div>
</div>